.list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 30px;

	/* padding: 0; */
}

.nothing-found {
	font-size: large;
	margin-top: 20px;
	margin-bottom: 20px;
}

.preloader {
	padding: 500px 0;
}

.error {
	padding: 20px 0;
}

@media (max-width: 1009px) {
	.list {
		grid-template-columns: 1fr;
		/* padding: 0 25px; */
		padding: 0;
	}

	.preloader {
		padding: 100px 0;
	}
}
